DISCORD_TOKEN=
DISCORD_TOKEN_DEV=

POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=
POSTGRES_PORT=

REDIS_HOST=
REDIS_PASSWORD=
REDIS_PORT=

OLLAMA_HOST=
OLLAMA_PORT=

API_BASE_URL=