DISCORD_TOKEN=""
DISCORD_TOKEN_DEV=""

POSTGRES_HOST=""
POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_DATABASE=""
POSTGRES_PORT=5432

REDIS_HOST=""
REDIS_PASSWORD=""
REDIS_PORT=6379

OLLAMA_HOST=""
OLLAMA_PORT=11434